@charset "UTF-8";
body{
    background: url(res/content_introduction_background.png) center center;
    margin: 50px;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
a{
    -webkit-transition: color .5s;
    transition: color .5s;
    text-decoration:none;
}
a:link{
    color:rgba(0, 0, 0, 0.5)
}
a:visited{
    color:rgba(0, 0, 0, 1)
}
a:hover{
    color:rgba(0, 0, 0, 1)
}
a:active{
    color:rgba(0, 0, 0, 1)
}
.global{
    margin: 0 auto;
    width: 1960px;
    -webkit-column-count: 3;
    -webkit-column-gap: 12;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 12;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 12px;
    column-fill: auto;
}
.item{
    display: inline-block;
    box-sizing: border-box;
    width: 640px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    margin-bottom: 20px;
}
.item_picture{
    width: 600px;
}